/* Start General rules  */
body {
	margin: 0;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: rgb(236, 231, 224);
	color: dimgrey;
}

h1 {
	margin-top: 70px;
	margin-bottom: 100px;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.card {
	width: 200px;
	padding: 20px;
	border: 1px solid #dcdcdc;
	border-radius: 5%;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
	margin: 20px 10px;
	transition: all 0.5s ease;
}

.card img {
	width: 200px;
	height: 250px;
	transition: all 0.5s ease;
}

.card:hover {
	padding: 30px;
	font-size: 1.1rem;
}

.card:hover img {
	width: 110%;
	height: 110%;
}
/* End general rules */

/* Start navbar */
.logo {
	background-color: rgb(7, 96, 140);
	padding: 10px;
}

.navbar {
	padding: 10px;
	height: 20px;
	border-bottom: solid 1px black;
}

.navbar a {
	color: black;
	padding-right: 10px;
	text-decoration: none;
}

.navbar a:hover {
	color: darkcyan;
	font-size: 1.1rem;
	text-decoration: underline;
}

.navbar a:active {
	color: darkcyan;
	font-size: 1.1rem;
	text-decoration: underline;
}
/* End navbar */

/* Start main content */
.main-content {
	display: inline-block;
	width: 70%;	
}

.sidebar {
	display: inline-block;
	width: 10%;
	vertical-align: top;
	padding: 20px;
}

iframe {
	display: block;
	border: solid 1px black;
	border-top: none;
	width: 100%;
	height: 1000px;
	padding: 0 20px;
}
/* End main content */

/* Start home page */
#home > div:nth-child(1) {
	float: left;
}

#home>div:nth-child(2) {
	float: right;
}

#home .card {
	width: 300px;
}
/* End home page */

/* Start hobbies page */
#hobbies div {
	display: inline-block;
}

#hobbies img {
	width: 200px;
	height: 200px;
}

#hobbies img:hover {
	width: 110%;
	height: 110%;
}
/* End hobbies page */

/* Start birthday page */
#birthday .card {
	width: 800px;
}

#birthday img {
	width: 700px;
	height: 400px;
}

#birthday_form textarea {
	width: 80%;
}
/* End birthday page */

/* Start contact page */
#contact div {
	margin: 20px 0
}

#contact div a {
	display: inline-block;
	margin-right: 30px;
}

#contact div a img {
	width: 25px;
	height: 25px;
}
/* End Contact Page */

/* Start slider page */
.slider1 {
	width: 100%;
	height: 50px;
	overflow: hidden;
}

.slider2 {
	width: 100%;
	height: 400px;
	overflow: hidden;
}

.slides {
	display: flex;
	width: 300%;
	height: 100%;
	animation: slideAnimation 10s infinite;
}

.slide {
	width: 100%;
}

.slide img {
	width: 100%;
	height: 100%;
}

@keyframes slideAnimation {
	0% {
		transform: translateX(0);
	}

	33.3% {
		transform: translateX(-33.3%);
	}

	66.6% {
		transform: translateX(-66.6%);
	}
}
/* End slider page */

/* Start cv page */
#cv .card {
	width: 300px;
}

.skills {
	float: left;
}

.progress-bar {
	width: 100%;
	height: 20px;
	background: #e0e0e0;
	border-radius: 10px;
}

.progress {
	height: 100%;
	background: #76c7c0;
	border-radius: 10px;
}

#html .progress {
	width: 90%;
}

#css .progress {
	width: 80%;
}

#js .progress {
	width: 70%;
}

#cv .card img {
	width: 50px;
	height: 50px;
	margin: 20px;
}

.info {
	float: right;
}
/* End cv page */
